body {
	font-family: Helvetica, sans-serif;
	background-image: url("../media/backgroundZvezde2.jpg");
	background-size: cover;
	background-position: center;
	background-color: black;

}


#audio {
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
}

.gif {
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.gif img{
	width: 350px;
}

.menu {
	display: flex;
}

